{% extends "SoilQMS/layout.html" %}
{% load static %}


{% block body %}

  

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Grow <br>
                      Good Crops
                    </h1>
                    <p>
                      Harnessing Sensor Technology for Sustainable Crop Management it not only ensures the health and productivity of our crops today but also lays the foundation for resilient and adaptive gardening practices in the future.
                    </p>
                    
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img class="plant" src="{% static 'SoilQMS/images/plant11.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div> 
    </section>
    <!-- end slider section -->
  


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
           Our <span>Services</span>
          </h2>
          <p>
            We offers comprehensive data analysis , ensuring optimized crop management and enhanced agricultural productivity.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'SoilQMS/images/s1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Real-time Monitoring
                </h5>
                <p>
                  provides real-time monitoring of crop health and environmental conditions through advanced sensor technology, enabling farmers to make informed decisions promptly.
                </p>
              
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'SoilQMS/images/s2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Instant Responses
                </h5>
                <p>
                  The chat bot is equipped with a knowledge base containing information on various agricultural topics, allowing it to provide helpful responses to a wide range of queries from farmers.
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'SoilQMS/images/s3.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Crop Environmental Check
                </h5>
                <p>
                    Users can select from a diverse list of crop varieties and instantly access the environmental conditions suitable for each crop.Users can access informations of key factors for successful cultivation. 
                </p>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          Driven by a passion for agricultural innovation and sustainability
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'SoilQMS/images/plant17.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are SoilQMS
            </h3>
            <p>
              Safeguarding agricultural productivity and sustainability, our soil quality monitoring system offers precise insights into soil health parameters. By leveraging advanced technology, we ensure that home gardeners have access to accurate data to optimize crop growth and yield while promoting environmental stewardship
            </p>
            <p>
              Revolutionizing agricultural practices, our soil quality monitoring system empowers home gardeners with actionable insights to enhance crop production and environmental sustainability. With a focus on precision and efficiency, we enable gardeners to make informed decisions for optimal soil management.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  
  <!-- end why section -->

  <!-- team section -->
  
  <!-- end team section -->


  <!-- client section -->

  

  <!-- end client section -->


  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 8590318798
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  data66138@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              we strive to provide comprehensive details and resources to ensure a seamless user experience.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="index.html">
                HOME
              </a>
              <a class="" href="about.html">
                ABOUT
              </a>
              <a class="" href="service.html">
                SERVICES
              </a>
              <a class="" href="why.html">
                MSG ME
              </a>
              <a class="" href="team.html">
                LOGIN / SIGN UP
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->
{% endblock %}