{% extends "SoilQMS/layout.html" %}
{% load static %}


{% block body %}



  <div class="container mb-2 list-color">
    <div class="row">
        <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/tomato.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TOMATO</h5>
                    <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
            </div>
        </div>
        <div class="col mt-2">
          <div class="card" style="width: 18rem;">
              <img src="{% static 'SoilQMS/images/greengram.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">GREEN GRAM</h5>
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
              </div>
          </div>
      </div>
      <div class="col mt-2">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'SoilQMS/images/brinjal.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">BRINJAL</h5>
                <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
            </div>
        </div>
    </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/pepper.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PEPPER</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/potato.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">POTATO</h5>
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/onion.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ONION</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/sugar.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SUGARCANE</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/arecanut.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ARECANUT</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/coffee.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">COFFEE</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/rice.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">RICE</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/cardamom.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CARDAMOM</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/banana.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PLANTAIN</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/cashew.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CASHEW</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/paddy.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PADDY</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/tapioca.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TAPIOCA</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/wheat.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">WHEAT</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/maize.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">MAIZE</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/groundnut.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GROUNDNUT</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/paddy.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PADDY</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/rose.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ROSE</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/sorghum.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SORGHUM</h5>
                  
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/tulsi.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TULSI</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/redspinach.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">RED SPINACH</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
          <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'SoilQMS/images/cucumber.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CUCUMBER</h5>
                 
                  <a href="{% url "check" %}" class="btn btn-success">Check Environmental Condition</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    
    <script>
    const body = document.querySelector('body')
    body.style.backgroundColor = "#042203"
    </script>
{% endblock %}
