{% extends "SoilQMS/layout.html" %}
{% load static %}

{% block body %}

  

 

  <!-- signin section -->
<!-- Pills navs -->
<div class="mx-5 my-5 ">
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active btn-dark" id="tab-login" data-toggle="pill" href="#pills-login" role="tab"
      aria-controls="pills-login" aria-selected="true">Login</a>
  </li>
  <li class="nav-item mx-1" role="presentation">
    <a class="nav-link btn-dark" id="tab-register " data-toggle="pill" href="#pills-register" role="tab"
      aria-controls="pills-register" aria-selected="false">Register</a>
  </li>
</ul>
</div>
<!-- Pills navs -->

<div class="mx-5">
<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      
<form method="post" action="{% url 'signin' %}">
    {% csrf_token %}

{% if signin_form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in signin_form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
  <!-- Email or Username input -->
  <div class="form-outline mb-4">
    {{ signin_form.username.errors }}
    {{ signin_form.username }}
    <label class="form-label" for="{{ signin_form.username.id_for_label }}">Email or username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    {{ signin_form.password.errors }}
    {{ signin_form.password }}
    <label class="form-label" for="{{ signin_form.password.id_for_label }}">Password</label>
  </div>

  <!-- Submit button -->
  <div class="text-center">
      <input type="hidden" value="signin" name="action">
    <button type="submit" class="btn btn-dark mb-4">Sign in</button>
  </div>

</form>
      
  </div>
  <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
    <form method="post" action="{% url 'signin' %}">
        {% csrf_token %}
    
    {% if signup_form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in signup_form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
    
      <!-- Name input -->
      <div class="form-outline mb-4">
          {{ signup_form.name.errors }}
          {{ signup_form.name }}
        <label class="form-label" for="{{ signup_form.name.id_for_label }}">Name</label>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-4">
          {{ signup_form.username.errors }}
          {{ signup_form.username }}
        <label class="form-label" for="{{ signup_form.username.id_for_label }}">Username</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
          {{ signup_form.email.errors }}
          {{ signup_form.email }}
        <label class="form-label" for="{{ signup_form.email.id_for_label }}">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
          {{ signup_form.password1.errors }}
          {{ signup_form.password1 }}
        <label class="form-label" for="{{ signup_form.password1.id_for_label }}">Password</label>
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-4">
          {{ signup_form.password2.errors }}
          {{ signup_form.password2 }}
        <label class="form-label" for="{{ signup_form.password2.id_for_label }}">Repeat Password</label>
      </div>

      <!-- Checkbox -->
      

      <!-- Submit button -->
      <div class="text-center">
          <input type="hidden" value="signup" name="action">
      <button type="submit" class="btn btn-dark btn-sm mb-3">Register</button>
    
    </form>
  </div>
</div>
</div>
</div>
<!-- Pills content -->

  
  <!-- end signin section -->

  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 8590318798
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  data66138@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              we strive to provide comprehensive details and resources to ensure a seamless user experience.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="index.html">
                HOME
              </a>
              <a class="" href="about.html">
                ABOUT
              </a>
              <a class="" href="service.html">
                SERVICES
              </a>
              <a class="" href="why.html">
                MSG ME
              </a>
              <a class="" href="signin.html">
                LOGIN / SIGN UP
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

{% if switch %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("tab-register ").click();
});
    </script>
{% endif %}
  <!-- end info section -->
{% endblock %}